* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: right;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.491);

}

.nav ul {
  display: flex;
}

.nav ul li {
  list-style: none;
  margin: 1.1rem 2rem 0rem 1.1rem;
  cursor: pointer;


}

.nav ul .logo img {
  position: absolute;
  top: -2rem;
  left: 2rem;
  width: 13rem;
}

.nav ul .list {
  /* text-align: center; */
  margin: 1.6rem 4rem 1rem 0rem;
}

.nav ul .list span {
  /* background-color: red; */
  position: absolute;
  top: 1.6rem;
  right: 8rem;
}

.nav ul li button {
  padding: 9px 20px 9px 20px;
  transition: 0.3s ease-in-out;
  border-radius: 6px;
  outline: #D70F64;
  border: 1px solid #D70F64;

}

.nav ul .signUpBtn button {
  background-color: #D70F64;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  position: absolute;
  top: 1.3rem;
  right: 13rem;

}

.nav ul .loginBtn button {
  background-color: #fff;
  border-radius: 6px;
  color: #D70F64;
  font-weight: 600;
  position: absolute;
  top: 1.3rem;
  right: 21rem;
}
.nav ul li:hover button {
  transform: scale(1.1);
  cursor: pointer;


}
.container1{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
 
}


.container1 .main img{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 41rem;
}

.container1 .main1{ 
  position: absolute;
  top: 17rem;
  left: 2rem;
}